<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Change Password</h2>
        <label class="full-width-input">
          Current Password
          <input type="password" placeholder="Current Password" formControlName="old_password" required>
        </label>
        <label class="full-width-input">
          New Password
          <input type="password" placeholder="New Password" formControlName="new_password" required>
        </label>
        <label class="full-width-input">
          Confirm Password
          <input type="password" placeholder="Re-enter Password" formControlName="password2" required>
        </label>
        <button class="button">Change</button>
      </form>
    </div>
  </div>
</div>
