// SCSS Mixin that adds shadow to elements
@mixin shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spacing {
  flex: 1 1 auto;
}

.title {
  text-decoration: none;
  color: azure;
  font-size: x-large;
}

.btn {
  margin: 1em;
}

.btn:hover {
  @include shadow();
}

mat-toolbar {
  @include shadow();
}

.navbar_icons:hover {
  color: blue;
}
