<div class="top-bar" *ngIf="auth.isLoggedIn | async as isLoggedIn">
  <div class="top-bar-right show-for-medium">
    <ul class="menu">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/profile/view">View Profile</a></li>
      <li><a routerLink="/profile/edit">Edit Profile</a></li>
      <li><a routerLink="/profile/changepwd">Change Password</a></li>
      <li><a routerLink="/org/create">Create New Org</a></li>
      <li><a routerLink="/org/join">Join Org</a></li>
      <li><a routerLink="/upload">Upload</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
