<div class="profile">
  <h1 class="mat-display-1">Profile</h1>
  <mat-card>
    <mat-card-content>
      <p>Username: {{ profile.username }}</p>
      <p>Nickname: {{ profile.nickname }}</p>
      <p>User id: {{ profile.userid }}</p>
      <mat-divider></mat-divider>
      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Organizations you are part of
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let org of profile.orgs">
              <div mat-line>
                <a routerLink="/org/view/{{ org.org_id }}">{{ org.org_name }}</a>
                <span *ngIf="org.is_personal">(Private Org)</span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2%;">
    <button routerLink="/profile/edit" mat-raised-button color="primary">
      Edit Profile
    </button>
  </mat-card>
</div>
