<div class="profile">
  <h1 class="mat-display-1">Profile</h1>
  <mat-card>
    <mat-card-content>
      <p>Username: {{ profile.username }}</p>
      <p>Nickname: {{ profile.nickname }}</p>
      <p>User id: {{ profile.userid }}</p>
      <mat-divider></mat-divider>
      <br>
      Orgs:
      <div *ngFor="let org of profile.orgs">
        <li><a routerLink="/org/view/{{ org.org_id }}">{{ org.org_name }}</a></li>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2%;">
    <button routerLink="/profile/edit" mat-raised-button color="primary">
      Edit Profile
    </button>
  </mat-card>
</div>
