<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Change Password</h2>
  <label class="full-width-input">
    Current Password
    <input type="password" placeholder="Current Password" formControlName="old_password" required>
  </label>
  <br>
  <label class="full-width-input">
    New Password
    <input type="password" placeholder="New Password" formControlName="new_password" required>
  </label>
  <br>
  <label class="full-width-input">
    Confirm New Password
    <input type="password" placeholder="Re-enter Password" formControlName="new_password2" required>
  </label>
  <br>
  <button class="button">Change</button>
</form>
