<p>org-view works!</p>

Org id : {{ org.id }} <br>
Name : {{ org.name }} <br>
Description : {{ org.description }} <br>
Passcode: {{ org.passcode }} <br>
Date Created: {{ org.date_created }} <br>

Members:
<div *ngFor="let member of org.members">
  <li>{{ member.username }}</li>
</div>

<div>Past uploads</div>
<ul>
  <li *ngFor="let sample of org.history">
    <a routerLink="/report/{{sample.id}}">
      {{sample.name}}
    </a>
    <span *ngIf="!sample.filename">&nbsp;(Processing)</span>
    <br>
    File type: *.{{sample.file_type}}
    <br>
    Upload time: {{sample.timestamp}}
    <br>
  </li>
</ul>
