<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Sign Up</h2>
  <p>Please enter your details</p>
  <label class="full-width-input">
    Username
    <input type="text" placeholder="Username" formControlName="username" required>
  </label>
  <br>
  <label class="full-width-input">
    Password
    <input type="password" placeholder="Password" formControlName="password" required>
  </label>
  <br>
  <label class="full-width-input">
    Confirm Password
    <input type="password" placeholder="Re-enter Password" formControlName="password2" required>
  </label>
  <br>
  <button class="button">Register</button>
</form>
<div class="login-link">
  Already registered? <a routerLink="/login">Login Here!</a>
</div>
