<mat-card style="margin-top: 2%;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div class="mat-display-1">
        <span>Upload Sample</span>
      </div>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Compressed Folder</mat-label>
        <ngx-mat-file-input id="xx" formControlName="file_source" [accept]="'.zip, *rar, *tar.gz'"
          (change)="onFileChange($event)" required></ngx-mat-file-input>
        {{ file_name }}
      </mat-form-field>

      <br>
      <mat-divider></mat-divider>
      <br>

      <mat-form-field>
        <mat-label>Sample Name</mat-label>
        <input matInput type="text" formControlName="sample_name" placeholder="Enter Sample Name" required />
      </mat-form-field>

      <br>
      <mat-divider></mat-divider>
      <br>

      <mat-form-field>
        <mat-label>Organization</mat-label>
        <mat-select formControlName="org_id" required>
          <mat-option *ngFor="let org of orgs" [value]="org.org_id">
            {{ org.org_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-divider></mat-divider>
      <br>

      <mat-form-field>
        <mat-label>File Type</mat-label>
        <mat-select formControlName="file_type" required>
          <mat-option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-divider></mat-divider>
      <br>

      <button style="margin-bottom: 1em;" type="submit" mat-raised-button color="primary">Upload</button>
    </div>
  </form>
</mat-card>
