<mat-card style="margin-top: 2%;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div class="mat-display-1">
        <span>Edit Organization</span>
      </div>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description" placeholder="Enter Description"
          required></textarea>
        <mat-error *ngIf="form.controls.description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-divider></mat-divider>
      <br>

      <button style="margin-bottom: 1em;" type="submit" [disabled]="form.invalid" mat-raised-button
        color="primary">Update</button>
    </div>
  </form>
</mat-card>

<mat-card style="margin-top: 2%;">
  <button style="margin-bottom: 1em;" routerLink="/org/view/{{ org.id }}" mat-raised-button color="primary">
    Go back to Organization
  </button>
</mat-card>
