<div class="dashboard">
  <h1 class="mat-display-1">Welcome to UnPlag!</h1>
  <h2>Past Uploads</h2>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Private History (Organization: {{ profile.username }})
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let sample of personal_history">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>
            <a routerLink="/report/{{sample.id}}" style="font-size: 18px;">
              {{sample.name}}
            </a>
          </div>
          <br>
          <div mat-line> File type: {{sample.file_type}} </div>
          <div mat-line> Upload time: {{sample.timestamp}} </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let history of orgs_history | keyvalue">
      <mat-expansion-panel-header>
        Organization: {{ history.key }}
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let sample of history.value">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>
            <a routerLink="/report/{{sample.id}}" style="font-size: 18px;">
              {{sample.name}}
            </a>
          </div>
          <br>
          <div mat-line> File type: {{sample.file_type}} </div>
          <div mat-line> Upload time: {{sample.timestamp}} </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>

  <mat-card style="margin-top: 2%;">
    <button routerLink="/profile/view" mat-raised-button color="primary">
      View Profile
    </button>
  </mat-card>

</div>
