<div>Past uploads</div>
<ul>
  <li>
    Private History (Organization: {{ profile.username }})
    <ul>
      <li *ngFor="let sample of personal_history">
        <a routerLink="/report/{{sample.id}}">
          {{sample.name}}
        </a>
        <br>
        File name (in backend): {{sample.filename}}
        <br>
        Upload time: {{sample.timestamp}}
        <br>
      </li>
    </ul>
  </li>
  <li *ngFor="let history of orgs_history | keyvalue">
    Organization: {{ history.key }}
    <ul>
      <li *ngFor="let sample of history.value">
        <a routerLink="/report/{{sample.id}}">
          {{sample.name}}
        </a>
        <br>
        File name (in backend): {{sample.filename}}
        <br>
        Upload time: {{sample.timestamp}}
        <br>
      </li>
    </ul>
  </li>
</ul>
